{% trans_default_domain 'SAMInvestorBundle' %}

{% for ile in investor.investorLegalEntities %}
    <div class="modal ile-modal fade" id="ile-remove-modal-{{ ile.id }}" role="dialog">
        <form
            class="ile-remove modal-dialog"
            method="post"
            {% if ile.id %}
                action="{{ path('ile_remove', { investorId: investor.id, id: ile.id }) }}"
            {% endif %}
            data-confirm="{{ 'investor.remove.confirm'|trans({'%investor.name%': investor.name, '%ile.legalEntity.name%': ile.legalEntity.name}) }}">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">{{ 'ile.remove.header'|trans }}</h4>
                </div>
                <div class="modal-body">
                    <p>{{ "ile.remove.desc"|trans({'%ile.legalEntity.name%': ile.legalEntity.name})|raw }}</p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary pull-left">{{ 'button.ile.remove.confirm'|trans() }}</button>
                    <button type="button" class="btn btn-default pull-right" data-dismiss="modal">{{ 'cancel'|trans({}, 'SAMCommonBundle') }}</button>
                </div>
            </div>
        </form>
    </div>
{% endfor %}