{% trans_default_domain 'SAMCommonBundle' %}

<div class="panel-heading">
    <h4>{{ 'company.info.header'|trans }}</h4>
</div>
<div class="card">
    <div class="card-content">
        <div class="panel-body">
            {{ form_row(form.company.name) }}

            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.company.website) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.company.phoneNumber) }}
                </div>
            </div>
            {{ form_row(form.company.address.address) }}
            <div class="row">
                <div class="col-md-4">
                    {{ form_row(form.company.address.zipCode) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.company.address.city) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.company.address.country) }}
                </div>
            </div>
            {{ form_row(form.company.address.type) }}
        </div>
    </div>
</div>